@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using assetManagementClassLibrary.Models
@model List<UsuariosEnt>

<div class="container mt-4">
    <h2>Administración de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.ID_USUARIO</td>
                    <td>@user.NOMBRE</td>
                    <td>@user.CORREO</td>
                    <td>@user.ID_ROLE</td>
                    <td>
                        <!-- Botón de editar usuario -->
                        <a href="@Url.Action("EditarUsuario", "Admin", new { userId = user.ID_USUARIO })" class="btn btn-primary">Editar</a>

                        <!-- Botón de eliminar usuario -->
                        <form asp-controller="Admin" asp-action="DeleteUser" method="post" class="d-inline">
                            <input type="hidden" name="userId" value="@user.ID_USUARIO" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este usuario?')">Eliminar</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Botón para agregar un nuevo usuario -->
    <a asp-controller ="Admin" asp-action="AddUser"  class="btn btn-success">Agregar Usuario</a>
</div>
