@model assetManagementClassLibrary.assetManagementDbModel.Activo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAdquisicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAdquisicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAdquisicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAdquisicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodosDepreciados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodosDepreciados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClaseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClaseNavigation.IdClase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDuennoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDuennoNavigation.Contrasenna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.DescripcionEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUbicacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUbicacionNavigation.DescripcionSeccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdActivo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
